
@{
    ViewBag.Title = "Angular";
}
<div ng-app="geekQuizApp" id="bodyContainer" >
    <section id="content">
        <div class="container">
            <div ng-controller="GeekQuizController as geekquiz"
                 class="row">
                <div class="flip-container text-center col-md-12">
                    <div class="back" ng-class="{flip:question.answered}">
                        <p class="lead">
                            {{question.answer}}
                        </p>
                        <p>
                            <button class="btn btn-info btn-lg"
                                    ng-click="nextQuestion()">
                                Next Question
                            </button>
                        </p>
                    </div>
                    <div class="front" ng-class="{flip:question.answered}">
                        <p class="lead">
                           {{question.title}}
                        </p>
                        <div class="row text-center">
                            <button ng-repeat="option in question.options"
                                    class="btn btn-info btn-lg option"
                                    ng-click="sendAnswer(question, option)">
                                {{option.title}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
        @section Scripts {
            <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
            <script>
                angular.module('geekQuizApp', [])
                .controller('GeekQuizController', function ($scope, $http) {
                    var controller = this;
                    $scope.question = { title: "Interesting", answered: false, answer: "Correct" };
                    $scope.answer = null;
                    $scope.nextQuestion = function () {
                        console.log("next Question");
                        $http.get('/api/trivia').success(function (response) {
                            $scope.question.title = response.title;
                            $scope.question.id = response.id;
                            $scope.question.options = response.options;
                            $scope.question.answered = false;
                        });
                    };
                    $scope.sendAnswer = function (question, option) {
                        console.log("Send Answer");
                        console.log(question.id)
                        console.log(option.id)
                        $http.post('/api/trivia', { 'questionId': question.id, 'optionId': option.id }).
                          success(function (response, status, headers, config) {
                              console.log("Got Response");
                              console.log("Got Response " + response);
                              $scope.answer = response ? 'correct' : 'incorrect';
                              $scope.question.answered = true;
                          });
                    };
                    $scope.nextQuestion();
                });
            </script>
        }


